streamlit==1.50.0
pandas>=2.3.0
numpy>=2.2.6
pandas-ta==0.4.71b0
numba==0.61.2
ta==0.11.0
kiteconnect==5.0.1
gspread==6.2.1
google-auth>=2.26.0
gspread-dataframe==4.0.0
openpyxl==3.1.5
websocket-client==1.9.0
streamlit-autorefresh==1.0.1
matplotlib==3.10.7
fpdf==1.7.2
pyarrow>=14.0.2
